{% extends 'layout.html.twig' %}

{% block body -%}
    <h1>PrestamoDeportes list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fechaentrega</th>
                <th>Fechadevolucion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('ud_deportes_prestamo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaEntrega %}{{ entity.fechaEntrega|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaDevolucion %}{{ entity.fechaDevolucion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('ud_deportes_prestamo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('ud_deportes_prestamo_new') }}" class="btn btn-sm btn-primary">
        Nuevo Prestamo
    </a>
    {% endblock %}
